:root {
    --blue-light-color: #8ECAE6;
    --orange-color: #FFB703;
    --blue-bold-color: #023047;
    --general-value-padding: 1px;
    --width-value-padding: 10px;
    --general-border-value: 10px;
    --minimal-border-value: 1px rgb(0, 0, 0/0.2);
    --page-width: 250px;
    --default-value: 10px;
}

* {
    margin: var(--default-value);
    padding: var(--default-value);
}

h1,
h2 {
    font-family: 'Rock Salt' serif;
    width: var(--page-width);
}

h1 {
    text-decoration-color: var(--orange-color);
}

h2 {
    text-decoration-color: var(--blue-bold-color);
}

a {
    text-decoration: underline;
}

p {
    color: var(--blue-bold-color);
}

article {
    position: absolute;
    width: 500px;
    height: fit-content;
    float: right;
}

article img {
    float: right;
    /*object-fit: cover;*/
}

.hero {
    border: --minimal-border-value solid #f4eded;
    padding: var(--general-value-padding);
    background-color: var(--blue-light-color);
    height: fit-content;
    position: relative;
    display: block;
}

.hero img {
    width: 100%;
    height: auto;
    float: right;
    clear: both;
    position: relative;
}

.hero h1 {
    position: absolute;
    float: right;
}

.hero article {
    position: absolute;
    color: var(--blue-light-color);
    background-color: var(--blue-light-color);
    opacity: 0.7;
    float: right;
    display: block;

}

.hero p {
    position: relative;
    color: var(--blue-bold-color);
    float: left;
    margin-right: 10px;
    overflow: auto;
    display: block;
}

footer img {
    display: inline;
    width: 50px;
    height: auto;
    padding: var(--general-value-padding);
    border: var(--general-border-value);
    border-top: 1px solid #555;
    text-decoration: none;

}