:root {
    --blue-light-color: #8ECAE6;
    --blue-stronger-color: #219EBC;
    --black-brilliant-color: #121212;
    --orange-color: #FFB703;
    --blue-bold-color: #023047;
    --white-color: #FFFFFF;
    --general-value-padding: 1px;
    --width-value-padding: 10px;
    --general-border-value: 10px;
    --minimal-border-value: 1px;
    --page-width: 250px;
    --default-value: 10px;
}

* {
    margin: var(--default-value);
    padding: var(--default-value);
}

header {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px;
    font-family: "Rock Salt", cursive;
}

.history {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-around;
}

.history p {
    color: var(--black-brilliant-color);
}

.history-title {
    grid-column: 1/4;
    text-align: center;
    justify-content: space-around;

}

.adventure {
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
    grid-template-columns: 20% 20% 20% 20% 20%;
    /*grid-auto-rows: minmax(50px, auto);*/
    align-items: center;
    justify-content: space-around;
}

.adventure-title {
    grid-column: 1/6;
    text-align: center;
}

.adventure img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

h1,
h2,
h3 {
    font-family: "Rock Salt", cursive;
}

h1 {
    color: var(--white-color);
    text-decoration-color: var(--white-color);
}

h2 {
    text-decoration-color: var(--blue-bold-color);
    align-items: center;
}

.menu a {
    text-decoration: underline;
    font-size: x-large;
}

p {
    color: var(--blue-bold-color);
}

article {
    width: 700px;
    height: auto;
}

.hero div {
    border: var(--minimal-border-value);
    padding: var(--general-value-padding);
    background-color: var(--blue-stronger-color);
    position: relative;
}

.hero img {
    display: inline;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    padding: 1px;
    background-color: var(--white-color);
    color: var(--black-brilliant-color);
    opacity: 0.7;
    top: 400px;
    right: 400px;
}

.hero article {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    color: var(--blue-light-color);
    background-color: var(--white-color);
    opacity: 0.7;
    top: 500px;
    right: 80px;
    left: 300px;
}

.hero article img {
    float: right;
    object-fit: scale-down;
    width: 75%;
    max-height: 100%;
    padding: 10px;
}

.hero article p {
    color: var(--black-brilliant-color);
    text-align: left;
    width: 80%;
    max-height: 100%;
    padding: 10px;
}

/*

*/
.contact-us {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
}

.contact-info {

    color: var(--blue-bold-color);
    text-decoration-color: var(--blue-bold-color);
}

.contact-info h1 {
    color: var(--blue-bold-color);
}

.map iframe {
    width: 500px;
    height: 400px;
}

.happy-workers {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.happy-workers img {
    object-fit: cover;
    width: 300px;
    max-height: 100%;
}

form {
    width: 550px;
    margin: 0 auto;
    padding: 1px;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    justify-content: center;
    text-align: center;

}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;

}

label {
    text-align: right;
    padding-right: 1px;
}


.form label {
    text-align: left;
    padding-right: 1px;
}

.form label,
input,
button,
select,
textarea {
    font-family: Roboto, Arial, sans-serif;
}

.form-item {
    display: grid;
    align-items: left;
}

.form-item radio {
    display: flex;
    flex-direction: row-reverse;

    justify-content: center;
    margin-top: 1px;
}

.form-item message {
    width: 600px;
    height: auto;
    text-align: right;
    padding-right: 1px;

}

.contact-info {
    grid-template-columns: 1fr 2fr;
}

.checkbox {
    display: block;

}

.form button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

/*
.form-item {
    display: grid;
    align-items: center;
}

.contact-info {
    grid-template-columns: 1fr 2fr;
}


.message {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}*/

footer {
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;
    justify-content: space-around;


}

footer nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 1 100px;
}

footer img {
    object-fit: cover;
    width: 120%;
    max-height: 120%;
    padding: 15px;

}