:root {
    --general-theme-color: darkblue;
    --orange-theme-color: orange;
    --general-value-padding: 1px;
    --width-value-padding: 20px;
    --border-value: 1px rgb(0, 0, 0/0.2);

}

nav {
    background-color: var(--general-theme-color);
    padding: var(--general-value-padding);
}

nav a {
    color: white;
    display: block;
    padding: var(--width-value-padding);
}

h1 {
    color: var(--general-theme-color);
}

img {
    width: 150px;
    height: auto;
    border: var(--border-value);
    padding: var(--general-value-padding);
    box-shadow: 0 0 30px gray;

}

p {
    padding: var(--general-value-padding);
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
}

main p {
    padding: var(--general-value-padding);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border-value);
    padding: var(--general-value-padding);
    background-color: var(--general-theme-color);
    color: var(--orange-theme-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: 1px solid var(--general-theme-color);
    text-align: center;
}