* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray-color: #333;
    --white-color: #eee;
    --min-border-value: 1px;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    /*max-width: 840px;*/
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: var(--min-border-value);
    padding: 1rem;
    box-shadow: var(--gray-color);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: --min-border-value solid rgb(0, 0, 0 / 0.2);
    padding: 1rem;
    background-color: var(--white-color);
    color: var(--gray-color);
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

h1 {
    color: var(--gray-color);
    border-bottom: 20px;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--white-color);
}

p {
    padding: 0px;
}

footer {
    margin-top: 15px;
    border-top: --min-border-value solid #000;
    text-align: center;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 /10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

main img {
    float: right;
}

aside h2 {
    -- position: absolute;
    top: 340px;
    left: 140px;
    color: black;
}