* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray-color: #333;
    --white-color: #eee;
    --min-border-value: 1px;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: var(--min-border-value);
    padding: 1rem;
    box-shadow: var(--gray-color);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: --min-border-value solid rgb(0, 0, 0 / 0.2);
    padding: 1rem;
    background-color: var(--white-color);
    color: var(--gray-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

h1 {
    color: var(--gray-color);
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: var(--white-color);
    display: block;
    padding: 20px;
}

p {
    padding: 0px;
}

footer {
    margin-top: 15px;
    border-top: --min-border-value solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 /10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

main img {
    float: right;
}

aside h2 {
    position: absolute;
    top: 610px;
    left: 140px;
    color: white;
}